<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mainContent(message)" class="container">
    <a href="https://4d4cat.site/" class="home-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
        </svg>
    </a>
    <h1>What's the last message?</h1>
    <p class="description">There are no restricted words. We just hope for messages that warm the heart</p>

    <div class="message-box">
        <div th:if="${message}" class="message">
            <p class="message-content" th:text="${message.content}"></p>
        </div>
        <div th:unless="${message}" class="no-message">
            <p>No message has been left yet</p>
        </div>
    </div>

    <div class="form-container">
        <form th:action="@{/message}" method="post">
            <div class="input-group">
                <input type="text" id="content" name="content" placeholder="Enter your message" required maxlength="90">
                <button type="submit">Send</button>
            </div>
            <div class="char-counter">
                <span id="charCount">0</span>/30
            </div>
        </form>
    </div>
</div>
</body>
</html>